*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    overflow: hidden;

}

body {
    font-family: "Open Sans";
    color: black;
    height: 100%;
    min-height: 100%;
    background: #fdffff; /* Old browsers */
    background: -moz-linear-gradient(top, #fdffff 1%, #e6f8fd 20%, #e6f8fd 54%, #b1d8f5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fdffff 1%,#e6f8fd 20%,#e6f8fd 54%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdffff 1%,#e6f8fd 20%,#e6f8fd 54%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.container {
    width: 1024px;
    margin: 0 auto;
    min-width: 360px;

}

.rooms-bar {
    width: 32%;
    height: 80vh;
    margin: 1rem 2rem 1rem 0;
    background-color: aliceblue;
    float: left;
    border: 3px solid black;
    border-radius: 10px;

}

.message-area {
    background-color: floralwhite;
    width: 66.1%;
    height: 80vh;
    margin: 1rem 0 1rem 0;
    float: none;
    border: 3px solid black;
    border-radius: 10px;
    min-height: 50%;
    display: inline-block;
    position: relative;
}

.message {

    margin: 1rem;
    border-bottom: 1px solid darkgrey;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.message .content {
    font-size: 2rem;
    //line-height: 1.5rem;
    padding: 0.5rem 0;
}
.message .time-sent {
    float: right;
    font-weight: lighter;
    font-size: 1.3rem;
}

.message .username {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}
.container > .title {
    background-color: lightsalmon;
    margin: 1rem 0 0 0;
    font-size: 3.5rem;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1.5rem 0;
}
.title {
    text-align: center;
    color: black;

}
h2 {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
}

.new-room-button {
    font-size: 1.5rem;
    color: darkblue;
    border-radius: 10px;
    background-color: floralwhite;
    margin-left: 1rem;
    position: relative;
    bottom: 0.35rem;


}
.rooms {

    margin-left: 3rem;
    margin-top: .5rem;

}
.room {
    font-size: 2.5rem;
    text-align: left;
    color: darkblue;
    margin: 1.5rem 0;


}
.room:hover {
    cursor: pointer;
    color: red;
}
.rooms-bar > .title {
    border-bottom: 1px solid #666;

}
.message-area > .title {
    border-bottom: 1px solid #666;

}
.message-input-area {

    width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}
.current-time {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}
.message-input {
    width: 85%;
    display: inline-block;
    background-color: bisque;
    margin-left: 1.5rem;
    border-radius: 10px;
}
.send-button {
    display: inline-block;
    width: auto;
    background-color: tan;
    color: black;
    border-radius: 10px;
    margin-left: 1rem;
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:before {
    clear: both;
}
