*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;


}

body {
    font-family: "Open Sans";
    color: black;
    height: 100%;
    min-height: 100%;
    background: #fdffff; /* Old browsers */
    background: -moz-linear-gradient(top, #fdffff 1%, #e6f8fd 20%, #e6f8fd 54%, #b1d8f5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fdffff 1%,#e6f8fd 20%,#e6f8fd 54%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdffff 1%,#e6f8fd 20%,#e6f8fd 54%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.container {
    width: 1024px;
    height: 800px;
    margin: 10px auto;
    min-width: 360px;

}

.sidebar {
    width: 30%;
    height: 100%;
    margin: 1rem;
    background-color: aliceblue;
    float: left;
    border: 3px solid black;
    border-radius: 10px;

}

.message-area {
    background-color: floralwhite;
    width: 65.3%;
    height: 100%;
    margin: 1rem 1rem 1rem 0;
    float: none;
    border: 3px solid black;
    border-radius: 10px;
    min-height: 50%;
    display: inline-block;
}

.message {
    margin: 1rem;
    border-bottom: 1px solid darkgrey;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.message .content {
    font-size: 1rem;
    //line-height: 1.5rem;
    padding: 0.5rem 0;
}
.message .time-sent {
    float: right;
    font-weight: lighter;
    font-size: 0.6rem;
}

.message .username {
    font-weight: bold;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
}
.container > .title {
    background-color: lightsalmon;
    height: 5rem;
    margin: 1rem 1rem 0 1rem;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
}
.title {
    text-align: center;
    color: black;

}
h2 {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
}
.sidebar {

}
button {
    font-size: 1rem;
    color: darkblue;
    border-radius: 10px;
    background-color: cornsilk;
    margin-left: 1rem;
}
.rooms {
    width: 66%;
    margin-left: 3rem;
    margin-top: .5rem;
}
.room {
    line-height: 2.5rem;
    text-align: left;
    color: darkblue;
    margin: .5rem auto;

}
.room:hover {
    cursor: pointer;
    color: red;
}
.sidebar > .title {
    border-bottom: 1px solid #666;
}
.message-area > .title {
    border-bottom: 1px solid #666;
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:before {
    clear: both;
}
