.modal-window {
    position: fixed;
    top: 300px;
    left: 400px;
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;

}

.modal-title {
    font-size: 2rem;
    font-weight: bold;
    color: azure;
}

.modal-body {
    margin: 30px;
    font-size: 1rem;
    font-weight: normal;
    color: red;
}
