<div class="container" >
    <h1 class="title">Bloc Chat</h1>
    <div class="rooms-bar">
        <h2 class="title">Rooms
            <span>
                <button type="button" class="new-room-button" ng-click="home.addRoom()">
                    New Room
                </button>
            </span>
        </h2>
        <div class="rooms">
            <div class="room"  ng-click="home.roomClicked({roomName: room.roomName, roomId: room.$id})" ng-repeat="room in home.rooms"> {{room.roomName}}</div>
        </div>
    </div>
    <div class="message-area">
        <h2 class="title">Messages for {{home.currentUser.name}}</h2>
        <h3 class="current-room" >{{home.currentRoom.roomName}}</h3>
        <div class="message" ng-repeat= "message in home.currentRoomMessages">
            <p class="content">{{message.content}}</p>
            <span class="time-sent">sent on {{message.timeSentObject.filtered}}</span>
            <span class="username">{{message.userName}}</span>
        </div>

        <div class="message-input-area">
            <div class="current-time">
                 {{ home.currentDateTime.filtered }}
            </div>
            <input class="message-input"  ng-model="home.newMessageContent" type="text" placeholder="Your message here..." autofocus=true>
            <button class='send-button' type="button" value="Send" ng-click="home.newMessage(home.newMessageContent); home.newMessageContent = '';">Send!</button>
        </div>

    </div>


</div>
